.App {
  text-align: center; /* テキストやコンテンツを中央揃えにします */
  background-color: #282c34; /* 背景色を#282c34に設定します（ダークグレー） */
  min-height: 100vh; /* ビューポートの高さ全体をカバーするように最小高さを100%に設定します */
  display: flex; /* Flexboxレイアウトを使用します */
  flex-direction: column; /* Flexboxの方向を縦方向（列）に設定します */
  /* justify-content: center; コンテンツを垂直方向に中央揃えにします */
  /* align-items: center; コンテンツを水平方向に中央揃えにします */
}


.App-content {
  width: 100%;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body{
  height: 60vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  position: relative ;
  top: 10; /* ロゴを上に配置 */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

