ul, ol {
  padding: 0;
}

ul li {
  position: relative;
  list-style-type: none !important; /* ポチ消す */
  padding: 0.5em;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 1.5;
  background: #6599c4;
  color: #fff; /* 文字の色を白に */
  border-radius: 40px 0px 0px 40px; /* 左側の角を丸く */
  border: 2px solid #d3d3d3; /* 明るい灰色のボーダー */
  display: flex; /* 要素を横に並べる */
  justify-content: space-between; /* 要素を左右に分ける */
  align-items: center; /* 高さ揃え */
  font-family: "Roboto", "Arial", sans-serif; /* 丸いフォント */
  font-weight: bold; /* 文字を太く */
}

ul li strong {
  width: 150px; /* 固定幅を設定して左詰めに */
  text-align: left; /* テキストを左揃え */
}

ul li div {
  flex: 1; /* 残りのスペースを埋める */
  text-align: left; /* テキストを左詰めに */
}

ul li:before { 
  display: inline-block; 
  vertical-align: middle;
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 50%; /* 真ん丸に */
  background-color: white; /* 白い丸をつくる */
  margin-right: 8px;
}
